body{
    text-align: center;
    /* background-color: black; */
}
.main{
    margin: 10px;
    text-align: center;
    padding: 5px;
}
h1{
    color: #DAD6D6;
    display: inline;
}
.head{
    padding: 0px;
    font-size: 50px;
    background-color:black;
    display: inline-block;
    border: .3px solid white;
    width: 50%;
    border-radius: 10px 10px 0px 0px;
    margin: 2px;
}
.count{
    font-size: 60px;
    display: inline-block;
    background-color: black;
    width: 50%;
    border: .3px solid white;
    margin: 2px;

}
.count > h1{
    margin: 20px;
    position: static;
    display: inline-block;
    width: 100px;
    color: #DAD6D6;
}
.btn{
    width: 50%;
    display: inline-block;
    background-color: black;
    height: 100px;
    border: .3px solid white;
    border-radius: 0px 0px 10px 10px;
    margin: 2px;



}
.btn button{
    width: 150px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
}
.btn .start{
    background-color: #48633B;
    border: 2px solid #2e3d28;
    border-radius: 5px;
}
.btn .pause{
    background-color: #721329;
    border: 2px solid #3d0b17;
    border-radius: 5px;
}
.btn .restart{
    background-color: #564E58;
    border: 2px solid #2f2e30;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .head{
        padding: 0px;
        font-size: 20px;
        background-color:black;
        display: inline-block;
        border: .3px solid white;
        width: 50%;
        border-radius: 10px 10px 0px 0px;
        margin: 2px;
    }
    .count{
        font-size: 25px;
        display: inline-block;
        background-color: black;
        width: 50%;
        border: .3px solid white;
        margin: 2px;
    
    }
    .count > h1{
        margin: 20px;
        position: static;
        display: inline-block;
        width: 20px;
        color: #DAD6D6;
    }
    .btn{
        width: 50%;
        height: 50px;
        border: .3px solid white;
        border-radius: 0px 0px 10px 10px;
    
    }
    .btn button{
        width: 60px;
        height: 20px;
        margin: 10px;
        font-size: 10px;
    }
  }